<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.medifoss.lnm.calculator"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>LNM Calculator</name>

    <description>
        Simple gestational calculator for the health professional.
    </description>

    <author href="https://medifoss.org" email="support@medifoss.org">
        Andre Hugo
    </author>

    <preference name="target-device" value="handset" />
    <gap:splash src="splash.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash.png" gap:platform="android" gap:density="xhdpi" />
    <!-- Blackberry Icons -->
    <icon src="icons/preg.png" gap:platform="blackberry" />
    <!-- Android icons -->
    <icon src="icons/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <!-- IOS Icons -->
    <icon src="icons/icon.png" width="57" height="57" />
    <icon src="icons/icon72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/iconat2x.png" width="114" height="114" />

</widget>